# Ignore Bayesian Logistics results
Bayesian_Logistics/results/
Bayesian_Logistics/load_data.py
Bayesian_Logistics/read_data.py
Bayesian_Logistics/dataset/TBP.csv
BNN/
more_pics/
others/
samples/

AnnealingFlow_Posterior/
Flow/

# Ignore plot results
plot_results/

# Ignore trained samplers
samplers_trained/
samplers_trained_2/
samplers_trained_Langevin/
plot_results_Langevin/

Annealing_Flow_no_Langevin.py
Annealing_Flow_sampler_no_Langevin.py

plot_unequal.py
Temper_no_Langevin.py
plot_samples.py
run_flow.sbatch

toy_plot.py
gmm_density.png

# Ignore GMM_cube.yaml
GMM_cube.yaml
GMM_sphere_unequal.yaml
Samplers.yaml
Copula.yaml
